.headerBackground {
    width: 100%;
    min-height: 180px;
    height: 25%;
    margin-bottom: -130px;
    filter: brightness(25%);
}

.header {
    position: relative;
    text-align: center;
    margin-bottom: 32px;
}